# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# File used for mock tests
tests/aapl_yfinance_data.pkl
tests/spy_yfinance_data.pkl
# Serverless directories
.serverless